@use 'sass:math';

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.ellipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.t-c {
  text-align: center;
}

.pre-wrap {
  white-space: pre-wrap;
}

.no-wrap {
  white-space: nowrap;
}

// 2整数倍 margin,padding
$i: 2;
@while $i<=1000 {
  $i: $i + 2;

  .w-#{$i} {
    width: #{$i}px !important;
  }

  .min-w-#{$i} {
    min-width: #{$i}px !important;
  }

  .max-w-#{$i} {
    max-width: #{$i}px !important;
  }

  .h-#{$i} {
    height: #{$i}px !important;
  }

  .m-#{$i} {
    margin: #{$i}px !important;
  }

  .m-t-#{$i} {
    margin-top: #{$i}px !important;
  }

  .m-r-#{$i} {
    margin-right: #{$i}px !important;
  }

  .m-b-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .m-l-#{$i} {
    margin-left: #{$i}px !important;
  }

  .p-#{$i} {
    padding: #{$i}px !important;
  }

  .p-t-#{$i} {
    padding-top: #{$i}px !important;
  }

  .p-r-#{$i} {
    padding-right: #{$i}px !important;
  }

  .p-b-#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .p-l-#{$i} {
    padding-left: #{$i}px !important;
  }
}

// 5整数倍 margin,padding
$i: 5;
@while $i<=1000 {
  $i: $i + 5;

  @if math.div($i, 2) != 0 {
    .h-#{$i} {
      height: #{$i}px !important;
    }

    .w-#{$i} {
      width: #{$i}px !important;
    }

    .min-w-#{$i} {
      min-width: #{$i}px !important;
    }

    .max-w-#{$i} {
      max-width: #{$i}px !important;
    }

    .m-#{$i} {
      margin: #{$i}px !important;
    }

    .m-t-#{$i} {
      margin-top: #{$i}px !important;
    }

    .m-r-#{$i} {
      margin-right: #{$i}px !important;
    }

    .m-b-#{$i} {
      margin-bottom: #{$i}px !important;
    }

    .m-l-#{$i} {
      margin-left: #{$i}px !important;
    }

    .p-#{$i} {
      padding: #{$i}px !important;
    }

    .p-t-#{$i} {
      padding-top: #{$i}px !important;
    }

    .p-r-#{$i} {
      padding-right: #{$i}px !important;
    }

    .p-b-#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .p-l-#{$i} {
      padding-left: #{$i}px !important;
    }
  }
}

.m-l-auto {
  margin-left: auto !important;
}

.c-d {
  cursor: default;
}

.c-p {
  cursor: pointer;
}

.c-zi {
  cursor: zoom-in;
}

.c-zo {
  cursor: zoom-out;
}

.c-na {
  cursor: not-allowed;
}

.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
   -khtml-user-select: none;
}

.iconfont.he-close-icon {
  line-height: 46px;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  color: #2d3436 !important;
  border-radius: 50%;
  background: #fff;
}

.d-v {
  width: 1px;
  height: 14px;

  background: #e9e9e9;
}

.divider {
  width: 8px;
  height: 1px;
  margin: 0 12px;

  background-color: #d9d9d9;
}

.w-100p {
  width: 100% !important;
}
